  <ion-view id="welcome-view" ng-controller="WelcomeController">
    <ion-content scroll="false">
    	<div id="welcome-wrapper">
        	<img src="img/logo_icon.png" alt="">
            <h1>
				<span style="color: #147ccc;">S</span><span style="color: #3b9dcc;">h</span><span style="color: #3ab475;">o</span><span style="color: #bce36b;">w</span><span style="color: #f9cc4b;">o</span><span style="color: #fca454;">f</span><span style="color: #fc7c5c;">f</span>
			</h1>
            <h2>Show the world what you got</h2>
			<a href="#/profile/basic">Profile Basic <i class="ion-chevron-right icon"></i></a>
         </div>
    </ion-content>
    <div class="bar bar-footer bar-positive">
    	<div class="title"><a href="#/feed">Start to Showoff <i class="ion-chevron-right icon"></i></a></div>
    </div>
  </ion-view>